.App {
  margin:0;
  padding:0;
}

/*new css for movie component */

* {
  box-sizing: border-box;
}

.errorMessage {
  margin: auto;
  font-weight: bold;
  color: rgb(161, 15, 15);
}

/* Paginator */
.paginator{
  display:flex;
  flex-direction: row;
  justify-content: center;
  /* padding-right: 30px; */
}